version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: ./Backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - ./.env
    environment:
      URLBACK: http://backend:8000
      URLFRONT: http://frontend:4321
    networks:
      - app-network
    depends_on:
      mongodb:
        condition: service_started
      mongo-setup:
        condition: service_completed_successfully

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "4321:4321"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - ./.env
    networks:
      - app-network
    depends_on:
      - backend

  mongodb:
    image: mongo:latest
    hostname: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    command: mongod --replSet rs0 --bind_ip_all
    networks:
      - app-network
    restart: always

  mongo-setup:
    image: mongo:latest
    depends_on:
      - mongodb
    restart: "no"
    entrypoint: [ "mongosh", "--host", "mongodb", "--eval", "try { rs.status() } catch (err) { rs.initiate({ _id: 'rs0', members: [ { _id: 0, host: 'mongodb:27017' } ] }) }" ]
    networks:
      - app-network

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge
