sqlalchemy
pymysql
python-multipart
passlib[bcrypt]
python-jose
annotated-types        
anyio                  
bcrypt                 
click               
colorama            
ecdsa                
fastapi                
h11                  
idna               
mysql-connector-python
passlib             
pip                  
pyasn1              
pydantic             
pydantic_core        
python-dotenv         
rsa                 
six                  
sniffio             
starlette            
typing_extensions    
typing-inspection   
uvicorn 