---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="w-full">
        <div class=" flex py-6 px-5 justify-end">
            <button id="logoutButton" class="bg-red-500 text-white font-bold py-2 px-4 rounded-md hover:bg-red-700 transition duration-300 cursor-pointer fixed z-70">Cerrar Sesi칩n</button>
                Crrar sesi칩n
            </button>
        </div>

        <section class="min-h-screen w-full mt-20 py-5 px-10 grid lg:grid-cols-2 sm:grid-cols-1 gap-4 text-sky-300 justify-items-center">
            <div class="bg-gray-500/20 p-4 w-full rounded-lg ">
                <h3 class="text-2xl font-medium text-center">Noticias</h3>
                <form id="noticiaForm" class="flex flex-col items-center justify-center w-full h-auto px-5 py-5">
                    <input id="titulo" type="text" placeholder="T칤tulo" class="border-2 border-gray-200 w-full rounded-md p-2 mb-3 text-gray-800 bg-white" required/>
                    <textarea id="descripcion"
                    placeholder="Descripci칩n" 
                    class="border-2 border-gray-200 rounded-md p-2 mb-3 text-gray-800 bg-white w-full min-h-32"
                    required></textarea>
                    <label class="mb-2">Imagen</label>
                    <input id="imagen" type="file" accept="image/*" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
                    <label class="mb-2">Video</label>
                    <input id="video" type="file" accept="video/*" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
                    <label class="mb-2">Documento word/pdf</label>
                    <input id="documento" type="file" accept=".doc,.docx,.pdf" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
                    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer">Agregar Noticia</button>
                    
                </form>
            </div>
            <div class="bg-gray-500/20 p-4 w-full rounded-lg ">
                <h3 class="text-2xl font-medium text-center">Cumplea침os</h3>
                <form id="birthdayForm" class="flex flex-col items-center justify-center w-full h-auto px-5 py-5">
                    <label class="mb-2">Escoja imagen de cumplea침os</label>
                    <input id="imagenC" type="file" accept="image/*" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
                    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer mb-3">Actualizar imagen</button>
                    <textarea id="descripcionC"
                    placeholder="Descripci칩n" 
                    class="border-2 border-gray-200 rounded-md p-2 mb-3 text-gray-800 bg-white w-full min-h-32"></textarea>
                    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer mb-3">游 Actualizar descripcion</button>                   
                </form>
            </div>
            <div class="bg-gray-500/20 p-4 w-full rounded-lg ">
                <h3 class="text-2xl font-medium text-center">Colaboradores</h3>
                <form id="colaboradorForm" class="flex flex-col items-center justify-center w-full h-auto px-5 py-5">
                    <label class="mb-2">Imagen</label>
                    <input id="imagenCol" type="file" accept="image/*" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
                    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer mb-3">Actualizar imagen</button>
                    <textarea id="descripcionCol"
                    placeholder="Descripci칩n" 
                    class="border-2 border-gray-200 rounded-md p-2 mb-3 text-gray-800 bg-white w-full min-h-32"
                    required></textarea>
                    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer mb-3">游 Actualizar descripcion</button>                   
                </form>
            </div>
            <div class="bg-gray-500/20 p-4 w-full rounded-lg ">
                <h3 class="text-2xl font-medium text-center">Empresas</h3>
                <form id="EmpresaForm" class="flex flex-col items-center justify-center w-full h-auto px-5 py-5">
                    <input id="urlE" type="text" placeholder="Url" class="border-2 border-gray-200 w-full rounded-md p-2 mb-3 text-gray-800 bg-white" required/>
                    <label class="mb-2">Imagen</label>
                    <input id="imagenE" type="file" accept="image/*" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
                    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer">Agregar Empresa</button>
                    
                </form>
            </div>
            <div class="bg-gray-500/20 p-4 w-full rounded-lg ">
                <h3 class="text-2xl font-medium text-center">Links internos</h3>
                <form id="linkForm" class="flex flex-col items-center justify-center w-full h-auto px-5 py-5">
                    <input id="nombre" type="text" placeholder="Nombre" class="border-2 border-gray-200 w-full rounded-md p-2 mb-3 text-gray-800 bg-white" required/>
                    <input id="url" type="text" placeholder="url" class="border-2 border-gray-200 w-full rounded-md p-2 mb-5 text-gray-800 bg-white" required/>
                    
                    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer">Agregar link</button>
                    
                </form>
            </div>
            <div class="bg-gray-500/20 p-4 w-full rounded-lg ">
                <h3 class="text-2xl font-medium text-center">Departamentos</h3>
                <form id="depForm" class="flex flex-col items-center justify-center w-full h-auto px-5 py-5">
                    <input id="tituloD" type="text" placeholder="T칤tulo" class="border-2 border-gray-200 w-full rounded-md p-2 mb-3 text-gray-800 bg-white" required/>
                    <textarea id="descripcionD"
                    placeholder="Descripci칩n" 
                    class="border-2 border-gray-200 rounded-md p-2 mb-3 text-gray-800 bg-white w-full min-h-32"
                    required></textarea>
                    <label class="mb-2">Imagen</label>
                    <input id="imagenD" type="file" accept="image/*" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
                    <input id="nombreDL" type="text" placeholder="Nombre del link" class="border-2 border-gray-200 w-full rounded-md p-2 mb-3 text-gray-800 bg-white"/>
                    <input id="urlD" type="text" placeholder="url" class="border-2 border-gray-200 w-full rounded-md p-2 mb-5 text-gray-800 bg-white"/>
                    <label class="mb-2">Seleccione Manual o Documento</label>
                    <input id="archivoD" type="file" accept=".pdf, .doc, .docx" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
                    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer">Agregar Departamento</button>
                </form>
            </div>
        </section>
    </section>
</Layout>


<script>

    fetch('http://9.0.1.247:8081/protegida', {
        method: 'GET',
        credentials: 'include'
    })
    .then(response => {
    if (!response.ok) {
        // Si no est치 autorizado, redirige al login
        window.location.href = '/Admin';
    } else {
        return response.json();
    }
    })
    .then(data => {
    console.log('Bienvenido:', data.username);
    })
    .catch(error => {
        console.error('Error al verificar sesi칩n:', error);
        window.location.href = '/Admin';
    });

    document.querySelector('#logoutButton')!.addEventListener('click', async() => {
        try {
        const response = await fetch('http://9.0.1.247:8081/logout', {
            method: 'POST',
            credentials: 'include' // Necesario para enviar cookies
        });

        if (response.ok) {
            window.location.href = '/Admin'; // Redirige despu칠s de logout
        } else {
            console.error('Error en la respuesta del servidor al cerrar sesi칩n');
        }
        } catch (error) {
        console.error('Error al cerrar sesi칩n:', error);
        }
    });

    // Funci칩n para subir noticia
    async function subirNoticia(nuevaNoticia: FormData) {
        const response = await fetch('http://9.0.1.247:8081/subir-noticia', {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevaNoticia
        });

        if (!response.ok) {
            throw new Error('Error al subir noticia');
        }

        const noticiaCreada = await response.json();
        console.log('Noticia subida exitosamente:', noticiaCreada);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#noticiaForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la p치gina

            const titulo = (document.querySelector('#titulo') as HTMLInputElement).value;
            const descripcion = (document.querySelector('#descripcion') as HTMLTextAreaElement).value;

            const imagenInput = document.querySelector('#imagen') as HTMLInputElement;
            const videoInput = document.querySelector('#video') as HTMLInputElement;
            const documentoInput = document.querySelector('#documento') as HTMLInputElement;

            let tipo_contenido = '';
            let contenido: File | null = null;

            // Revisamos qu칠 archivo subieron
            if (imagenInput &&  imagenInput.files && imagenInput.files.length > 0) {
                tipo_contenido = 'imagen';
                contenido = imagenInput.files[0];
            } else if (videoInput && videoInput.files && videoInput.files.length > 0) {
                tipo_contenido = 'video';
                contenido = videoInput.files[0];
            } else if (documentoInput && documentoInput.files && documentoInput.files.length > 0) {
                tipo_contenido = 'texto';
                contenido = documentoInput.files[0];
            } else {
                alert('Debes subir al menos un archivo (imagen, video o documento)');
                return;
            }

            const nuevaNoticia = new FormData() 

            nuevaNoticia.append('titulo', titulo)
            nuevaNoticia.append('descripcion', descripcion)
            nuevaNoticia.append('tipo_contenido', tipo_contenido)
            if (contenido) {
                nuevaNoticia.append('contenido', contenido)
            }

            try {
                await subirNoticia(nuevaNoticia);
                alert('Noticia subida correctamente.');
                formulario.reset(); // Limpiar formulario
            } catch (error) {
                console.error(error);
                alert('Error al subir noticia.');
            }
        });
    });

    interface Link{
        id: number
        name: string
        link: string
    }
    // Funci칩n para subir link 
    async function subirLinkInterno(nuevoLink:Link) {
        const response = await fetch('http://9.0.1.247:8081/links/', {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            headers: {
                'content-type': 'application/json',
            },
            body: JSON.stringify(nuevoLink)
        });

        if (!response.ok) {
            throw new Error('Error al subir link');
        }
        const noticiaCreada = await response.json();
        console.log('link subida exitosamente:', noticiaCreada);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#linkForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la p치gina

            const nombre = (document.querySelector('#nombre') as HTMLInputElement).value;
            const url = (document.querySelector('#url') as HTMLInputElement).value;

            const nuevoLink = {
                name: nombre,
                link: url
            } as Link;

            try {
                await subirLinkInterno(nuevoLink);
                alert('Link subido correctamente.');
                formulario.reset(); // Limpiar formulario
            } catch (error) {
                console.error(error);
                alert('Error al subir link.');
            }
        });
    });

    async function subirCumpleanos(nuevoCumpleanos: FormData) {
        const response = await fetch('http://9.0.1.247:8081/birthday/', {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevoCumpleanos
        });

        //console.log(response)

        if (!response.ok) {
            throw new Error('Error al subir el cumplea침os');
        }

        const cumpleanosCreado = await response.json();
        console.log('cumpleanos subido exitosamente:', cumpleanosCreado);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#birthdayForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la p치gina

            const descripcion = (document.querySelector('#descripcionC') as HTMLTextAreaElement).value;
            const imagenInput = document.querySelector('#imagenC') as HTMLInputElement;

            const archivo = imagenInput.files?.[0]

            if (!archivo) {
                alert('Por favor selecciona una imagen');
                return;
            }

            const formData = new FormData();
            formData.append('descripcion', descripcion);
            formData.append('contenido', archivo);

            try {
                await subirCumpleanos(formData);
                alert('Cumplea침os subido correctamente.');
                formulario.reset(); // Limpiar el formulario
            } catch (error) {
                console.error('Error al subir el cumplea침os:', error);
                alert('Error al subir el cumplea침os.');
            }

        })
    })

    async function subirColaboradores(nuevoTeam: FormData) {
        const response = await fetch('http://9.0.1.247:8081/team/', {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevoTeam
        });

        //console.log(response)

        if (!response.ok) {
            throw new Error('Error al subir el colaborador');
        }

        const colaboradorCreado = await response.json();
        console.log('cumpleanos subido exitosamente:', colaboradorCreado);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#colaboradorForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la p치gina

            const descripcion = (document.querySelector('#descripcionCol') as HTMLTextAreaElement).value;
            const imagenInput = document.querySelector('#imagenCol') as HTMLInputElement;

            const archivo = imagenInput.files?.[0]

            if (!archivo) {
                alert('Por favor selecciona una imagen');
                return;
            }

            const formData = new FormData();
            formData.append('descripcion', descripcion);
            formData.append('contenido', archivo);

            try {
                await subirColaboradores(formData);
                alert('colaborador subido correctamente.');
                formulario.reset(); // Limpiar el formulario
            } catch (error) {
                console.error('Error al subir el colaborador:', error);
                alert('Error al subir el colaborador.');
            }

        })
    })

    async function subirCo(nuevaCo: FormData) {
        const response = await fetch('http://9.0.1.247:8081/company/', {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevaCo
        });

        //console.log(response)

        if (!response.ok) {
            throw new Error('Error al subir la empresa');
        }

        const CoCreada = await response.json();
        console.log('empresa subida exitosamente:', CoCreada);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#EmpresaForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la p치gina

            const contenido = (document.querySelector('#urlE') as HTMLTextAreaElement).value;
            const imagenInput = document.querySelector('#imagenE') as HTMLInputElement;

            const archivo = imagenInput.files?.[0]

            if (!archivo) {
                alert('Por favor selecciona una imagen');
                return;
            }

            const formData = new FormData();
            formData.append('contenido', contenido);
            formData.append('imagen', archivo);

            try {
                await subirCo(formData);
                alert('empresa subida correctamente.');
                formulario.reset(); // Limpiar el formulario
            } catch (error) {
                console.error('Error al subir la empresa:', error);
                alert('Error al subir la empresa.');
            }

        })
    })


    async function subirDep(nuevoDep: FormData) {
    const response = await fetch('http://9.0.1.247:8081/departamento/', {
        method: 'POST',
        credentials: 'include',
        body: nuevoDep
        });

        if (!response.ok) {
            throw new Error('Error al subir departamento');
        }

        const departamentoCreado = await response.json();
        console.log('Departamento subido exitosamente:', departamentoCreado);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#depForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault();

            const titulo = (document.querySelector('#tituloD') as HTMLInputElement).value
            const descripcion = (document.querySelector('#descripcionD') as HTMLTextAreaElement).value

            const imagenInput = document.querySelector('#imagenD') as HTMLInputElement;
            const file = document.querySelector('#archivoD') as HTMLInputElement;
            const urlInput = document.querySelector('#urlD') as HTMLInputElement
            const nombreLinkInput = document.querySelector('#nombreDL') as HTMLInputElement

            const imagen = imagenInput.files?.[0];
            const link_file = file.files?.[0];
            const link_url = urlInput.value.trim();
            const titulo_link = nombreLinkInput.value.trim()

            if (!imagen) {
                alert('Debes subir una imagen');
                return;
            }

            const nuevoDep = new FormData();
            nuevoDep.append('titulo', titulo);
            nuevoDep.append('descripcion', descripcion);
            nuevoDep.append('imagen', imagen);

            if (titulo_link !== "") {
                nuevoDep.append('titulo_link', titulo_link);
                if (link_file && link_url) {
                    alert('Solo puedes agregar un archivo o una URL, no ambos.');
                    return;
                }

                if (link_file) {
                    nuevoDep.append('link_file', link_file);
                } else if (link_url) {
                    nuevoDep.append('link_url', link_url);
                } else {
                    alert('Si agregas un nombre de link, debes subir un archivo o proporcionar una URL.');
                    return;
                }
            }

            try {
                await subirDep(nuevoDep);
                alert('Departamento subido correctamente.');
                formulario.reset();
            } catch (error) {
                console.error(error);
                alert('Error al subir Departamento.');
            }
        });
    });


    /*
    async function subirDep(nuevoDep: FormData) {
        const response = await fetch('http://9.0.1.247:8081/departamento', {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevoDep
        });

        if (!response.ok) {
            throw new Error('Error al subir departamento')
        }

        const departamentoCreado = await response.json()
        console.log('departamento subido exitosamente:', departamentoCreado)
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#depForm') as HTMLFormElement

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la p치gina

            const titulo = (document.querySelector('#tituloD') as HTMLInputElement).value
            const descripcion = (document.querySelector('#descripcionD') as HTMLTextAreaElement).value;

            const imagenInput = document.querySelector('#imagenD') as HTMLInputElement
            const pdfInput = document.querySelector('#pdf') as HTMLInputElement

            // Revisamos qu칠 archivo subieron
            const contenido = imagenInput.files?.[0]
            const Pdf = pdfInput.files?.[0]

            const nuevoDep = new FormData() 

            nuevoDep.append('titulo', titulo)
            nuevoDep.append('descripcion', descripcion)
            if (contenido) {
                nuevoDep.append('contenido', contenido)
            } else {
                alert('Debes subir una imagen')
                return;
            }

            if (Pdf) {
                nuevoDep.append('pdf', Pdf)
            } else {
                alert('Debes subir un PDF')
                return;
            }
            

            try {
                await subirDep(nuevoDep);
                alert('Departamento subido correctamente.')
                formulario.reset(); // Limpiar formulario
            } catch (error) {
                console.error(error);
                alert('Error al subir Departamento.')
            }
        });
    });
*/

</script>