---
import Birthday from '../components/Birthday.astro';
import NewsSlider from '../components/NewsSlider.astro';
import Layout from '../layouts/Layout.astro';
import NewTeam from '../components/NewTeam.astro';
import Departamentos from '../components/Departamentos.astro';

---

<Layout>
	<NewsSlider />
	<!--
		<Birthday /> descomentar si se desea en el apartado principal
	 -->
	<NewTeam />
	<div id="departamentos">
		<Departamentos />
	</div>
</Layout> 

<script>
	document.addEventListener('DOMContentLoaded', () => {
		if (window.location.hash === '#departamentos') {
			// Espera un poco para que todo el contenido cargue antes de hacer scroll
			setTimeout(() => {
				const dep = document.getElementById('departamentos');
				if (dep) {
					const y = dep.getBoundingClientRect().top + window.scrollY - 40; // Ajusta el offset si quieres
					window.scrollTo({ top: y, behavior: 'smooth' });
				}
			}, 200);
		}
	});
</script>
