---
import Birthday from '../components/Birthday.astro';
import NewsSlider from '../components/NewsSlider.astro';
import Layout from '../layouts/Layout.astro';
import NewTeam from '../components/NewTeam.astro';
import Departamentos from '../components/Departamentos.astro';

---

<Layout>
	<NewsSlider />
	<Birthday />
	<NewTeam />
	<div id="departamentos">
		<Departamentos />
	</div>
</Layout>
