---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="w-full">
        <section class="min-h-screen w-full mt-36 py-5 px-10 justify-items-center text-gray-200">
            <h2 class="text-2xl font-bold py-5 px-10">
                Links de Consulta
            </h2>
            <p class="text-xl">Accesa a las plataformas internas de la empresa</p>
    
            <nav id="contenedorLinks" class="mt-10 flex flex-col items-center justify-center">
    
            </nav>
        </section>

    </section>

    <script>
        declare global {
            interface Window {
                eliminarLink: (id: number) => Promise<void>;
            }
        }

        interface Link {
            id: number;
            name: string;
            link: string;
            descripcion: string;
        }
           
    
        async function cargarLinks() {
            const response = await fetch('http://9.0.1.247:8081/links', {
                credentials: 'include'
            });
            if (!response.ok) {
                console.error('Error al obtener los links');
                return;
            }
            
            const links: Link[] = await response.json();
    
            const contenedorLinks = document.getElementById('contenedorLinks') as HTMLElement;
            contenedorLinks.innerHTML = '';
    
            links.forEach((link) => {
                const card = document.createElement('ul');
                card.className = 'mb-4 h-auto w-full flex flex-col bg-white/10 rounded-lg px-8 py-4 text-xl w-full text-center hover:bg-cyan-300/20 text-sky-300 font-medium transition duration-300 ease-in-out';
    
                card.innerHTML = `
                    <a href="${link.link}" target="_blank">${link.name}</a>
                    ${tokenValido ? `<button onclick="eliminarLink(${link.id})" class="bg-red-500 text-white px-4 py-2 rounded cursor-pointer hover:bg-red-800 transition duration-300 ease-in-out">Eliminar</button>` : ""}
                `;
    
                contenedorLinks.appendChild(card);
            });
        }
    
        // Función para eliminar un link
        async function eliminarLink(id: number) {
            const response = await fetch(`http://9.0.1.247:8081/eliminar-link/${id}`, {
                method: 'DELETE',
                credentials: 'include' // Incluye cookies en la solicitud
            });
    
            if (response.ok) {
                alert('Link eliminado');
                cargarLinks(); // Recargar los links
            } else {
                alert('Error al eliminar el link');
            }
        }

        let tokenValido = false; // Variable para almacenar el estado del token

        async function verificarToken() {
            try {
                const response = await fetch('http://9.0.1.247:8081/protegida', {
                    credentials: 'include' // Incluye cookies en la solicitud
                });

                tokenValido = response.ok;
            } catch (error) {
                tokenValido = false;
                console.error('Error al verificar el token:', error);
            }
        }

        window.eliminarLink = eliminarLink;    
        document.addEventListener('DOMContentLoaded', async () => {
            await verificarToken();
            cargarLinks();
        });
    </script>
    
</Layout>