---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="w-full">
        <section class="min-h-screen w-full mt-24 py-5 px-10 justify-items-center text-gray-200">
            <div class="text-5xl flex mb-5 font-black justify-center items-center">
                <h2 class=" text-white mr-3">
                    Links de 
                </h2>
                <h2 class=" text-[#00d0fe]">
                    consulta
                </h2>
            </div>
            <p class="text-xl">Aquí podrás accede a todas las plataformas internas de la empresa</p>
    
            <nav id="contenedorLinks" class="mt-6 flex flex-col items-center justify-center">
    
            </nav>
        </section>

    </section>

    <script>
        const URLBACK=import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'
        declare global {
            interface Window {
                eliminarLink: (id: number) => Promise<void>;
            }
        }

        interface Link {
            id: number;
            name: string;
            link: string;
            descripcion: string;
        }
           
    
        async function cargarLinks() {
            const response = await fetch(`${URLBACK}/links`, {
                credentials: 'include'
            });
            if (!response.ok) {
                console.error('Error al obtener los links');
                return;
            }
            
            const links: Link[] = await response.json();
    
            const contenedorLinks = document.getElementById('contenedorLinks') as HTMLElement;
            contenedorLinks.innerHTML = '';
    
            links.forEach((link) => {
                const card = document.createElement('ul');
                card.className = '[&>li]:mb-6 h-auto w-auto flex flex-col [&>li>a]:bg-[#00d0fe] [&>li>a]:rounded-4xl [&>li>a]:px-9 [&>li>a]:py-5 [&>li>a]:text-xl [&>li>a]:text-center [&>li>a]:hover:bg-[#0d122e] [&>li>a]:transition [&>li>a]:duration-300 ease-in-out [&>li>a]:hover:text-[#00d0fe] [&>li>a]:text-[#0d122e] font-black ';
    
                card.innerHTML = `
                    <li><a href="${link.link}" target="_blank">${link.name}</a></li>
                `;
    
                contenedorLinks.appendChild(card);
            });
        }
            
        document.addEventListener('DOMContentLoaded', async () => {
            cargarLinks();
        });
    </script>
    
</Layout>