---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="w-full h-auto flex flex-col items-center justify-center mt-32">
        <div class="flex text-5xl font-black ">
            <h1 class="text-white mr-3">Nuevos</h1>
            <h1 class="text-[#00d0fe]">Colaboradores</h1>
        </div>

    </section>
    <section class="w-full justify-center justify-items-center">
        <section id="contenedorCol" class="min-h-screen max-w-[1920px] mt-5 py-5 px-10 grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1  gap-4 text-sky-300 justify-items-center">

        </section>
    </section>

    <script>
        const URLBACK=import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'
        interface Team {
            id: number
            descripcion: string
            contenido: string
        }       
    
        async function cargarCol() {
            const response = await fetch(`${URLBACK}/team/`, {
                credentials: 'include'
            })
            if (!response.ok) {
                console.error('Error al obtener colaboradores')
                return
            }
            
            const col: Team[] = await response.json()
    
            // Ordenar por id más reciente primero
            //col.sort((a, b) => new Date(b.fecha_creacion).getTime() - new Date(a.fecha_creacion).getTime())
    
            const contenedorCol = document.getElementById('contenedorCol') as HTMLElement
            contenedorCol.innerHTML = ''
    
            col.forEach((col) => {
                const card = document.createElement('div')
                card.className = 'shadow-md overflow-hidden w-full max-w-sm mb-4 mx-2'

                card.innerHTML = `
                    <div class=" h-auto w-full overflow-hidden rounded-t-2xl">
                        <img src="${col.contenido}" alt="Placeholder" class="w-full h-auto object-cover">'}
                    </div>
                    <div class="p-4 bg-black/25 rounded-b-2xl">
                        <p class="text-gray-200 text-sm mb-3">${col.descripcion}</p>
                    </div>
                `
    
                contenedorCol.appendChild(card)
            })
        }

        document.addEventListener('DOMContentLoaded', async () => {
            cargarCol()
        })
    </script>
    
</Layout>