---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="w-full h-auto flex flex-col items-center justify-center mt-32">
        <div class="flex text-5xl font-black ">
            <h1 class="text-white mr-3">Nuevos </h1>
            <h1 class="text-[#00d0fe]">Colaboradores</h1>
        </div>
</Layout>