<section class="text-center flex justify-center h-36 w-full items-center fixed top-0">
    <div class="bg-white h-24 w-full flex items-center justify-between px-8">
        <figure class="flex px-5 py-5">
            <img class="h-16 w-auto" src="/images/LogoBanner.png" alt="logo laGanga" />
        </figure>

        
        <nav id="menu" class="hidden md:flex z-30 lg:flex gap-5 items-center justify-center">
            <ul class="flex gap-x-20 ml-5 [&>li>a]:px-3 [&>li>a]:py-2 [&>li>a]:inline-block [&>li>a]:text-sm [&>li>a]:font-black [&>li>a]:text-[#0d122e] [&>li>a]:bg-[#00d0fe] [&>li>a:hover]:text-[#00d0fe] [&>li>a:hover]:bg-[#0d122e] [&>li>a]:transition-colors [&>li>a]:duration-300 [&>li>a]:rounded-4xl">
                <li><a href="/" >Inicio</a></li>
                <li><a href="/NewsPage">Novedades</a></li>
                <li><a href="/InfoPage">¿Quiénes somos?</a></li>
                <li><a href="/Links">Links</a></li>
                <li><a id="adminBtn" href="/Admin">Admin</a></li>
            </ul>
        </nav>

    </div>

    
</section>


    

<script>
    const URLBACK=import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'

    const adminBtn = document.querySelector('#adminBtn')
    
    adminBtn?.addEventListener('click', () => {
        // Validar sesión con cookies
        fetch(`${URLBACK}/protegida`, {
            method: 'GET',
            credentials: 'include' // Incluye cookies en la solicitud
        })
        .then(response => {
            if (response.ok) {
                // Sesión válida, llevar al panel
                window.location.href = '/AdminPanel';
            } else {
                // Sesión inválida, llevar a login
                window.location.href = '/Admin';
            }
        })
        .catch(err => {
            console.error('Error al validar sesión:', err);
            window.location.href = '/Admin';
        });
    });

    const menuToggle = document.querySelector('#menu-btn') as HTMLElement
    const menu = document.querySelector('#menu') as HTMLElement

    menuToggle.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>