<section class="w-full">
    <section class="h-auto w-full mt-5 py-5 px-10 justify-items-center text-gray-200">
        <div class="flex items-center gap-4">
            <h1 class="text-5xl font-black">Nuevos</h1>
            <h1 class="text-5xl text-[#00d0fe] font-black">Colaboradores</h1>
        </div>
        <section id="contenedorColaboradores">

        </section>
    </section>

    <script>
        const URLBACK=import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'
        interface Team {
            id: number
            descripcion: string
            contenido: string
        }        
    
        async function cargarColaboradores() {
            const response = await fetch(`${URLBACK}/team/`, {
                credentials: 'include'
            })
            if (!response.ok) {
                console.error('Error al obtener los colaboradores')
                return
            }
            
            const Colaboradores: Team[] = await response.json()

            const ultimoTeam = Colaboradores[0]
    
            const contenedorColaboradores = document.getElementById('contenedorColaboradores') as HTMLElement

            contenedorColaboradores.innerHTML = ''
    
                const card = document.createElement('div')
                card.className = 'mb-4 h-auto w-full flex flex-col rounded-lg px-8 py-4 text-xl w-full text-center justify-center items-center'
    
                card.innerHTML = `
                    <p class="mb-4 font-medium">${ultimoTeam.descripcion}</p>
                        <img src="${ultimoTeam.contenido}" alt="Imagen de Noticia" class="object-contain w-full max-w-xl h-auto rounded-lg shadow-lg">                        
                `
    
                contenedorColaboradores.appendChild(card)
        }   
        document.addEventListener('DOMContentLoaded', cargarColaboradores)
    </script>