---
import Hero from '../components/Hero.astro'
import '../styles/global.css'

const {showMenu=true}=Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link class="object-contain aspect-square" rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Intranet La Ganga</title>
	</head>
	<body class="bg-cover bg-[url('/images/background.png')] w-screen h-screen bg-center bg-no-repeat bg-fixed"> <!-- poner opacidad al fondo-->
		<header>
			{showMenu && <Hero />}
		</header>
		<main class="bg-black/35 min-h-screen w-full">
			<slot />
		</main>
		<footer>

		</footer>
	</body>
</html>

<style is:global>
	body {
		overflow-x: hidden;
	}
	html, body{
		height: 100%;
	}
</style>
