<form id="noticiaForm" class="flex flex-col items-center justify-center w-full h-auto px-5 py-5">Add commentMore actions
    <input id="titulo" type="text" placeholder="Título" class="border-2 border-gray-200 w-full rounded-md p-2 mb-3 text-gray-800 bg-white" required/>
    <textarea id="descripcion"
        placeholder="Descripción" 
        class="border-2 border-gray-200 rounded-md p-2 mb-3 text-gray-800 bg-white w-full min-h-32"
        required></textarea>
    <label class="mb-2">Imagen</label>
    <input id="imagen" type="file" accept="image/*" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
    <label class="mb-2">Video</label>
    <input id="video" type="file" accept="video/*" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
    <label class="mb-2">Documento word/pdf</label>
    <input id="documento" type="file" accept=".doc,.docx,.pdf" class="file:bg-blue-500 file:text-white file:font-semibold file:border-none file:rounded file:px-4 file:py-2 text-gray-200 mb-4 file:cursor-pointer"/>
    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 cursor-pointer">Agregar Noticia</button>            
</form>